@{
    ViewBag.Title = "O aplikaciji";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Aplikacija Robno omogućava jednostavno vođenje materijalnog knjigovodstva u poslovnim okruženjima s jednim skladištem.</p>
<p>Za detaljnije informacije referirati se na završni rad koji je sastavni dio ovog projekta.</p>
