@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gordan Viđak<br />
    298-2014<br />
</address>

<address>
    <strong>Autor:</strong>   <a href="mailto:gvidja00@fesb.hr">gvidja00@fesb.hr</a><br />
</address>