@{
    ViewBag.Title = "Home Page";
}

<br /><br/><br/>

<div class="row">
    <div class="col-md-4">
        <h2>Primke</h2>
        <p>
            Omogućen je pregled svih primki.
        </p>
        <p><a class="btn btn-default" href="../Primkas">Primke</a></p>
    </div>
    <div class="col-md-4">
        <h2>Računi</h2>
        <p>Omogućen je pregled svih izdanih računa, kao i njihovo pretraživanje po datumima, broju računa i odgovarajućem poslovnom partneru.</p>
        <p><a class="btn btn-default" href="../Racuns">Računi</a></p>
    </div>
    <div class="col-md-4">
        <h2>Šifrarnici</h2>
        <p>U padajućem izborniku je moguće izabrati odgovarajuće šifrarnike. Omogućen je pregled, stvaranje, mijenjanje i brisanje unosa šifrarnika.</p>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Izbor šifrarnika
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="../ArtikalKlasas">Klase artikla</a></li>
                <li><a href="../Artikals">Artikli</a></li>
                <li><a href="../JedinicaMjeres">Jedinice mjere</a></li>
                <li><a href="../NacinPlacanjas">Načini plaćanja</a></li>
                <li><a href="../PoslovniPartners">Poslovni partneri</a></li>
                <li><a href="../Tarifas">Porezne tarife</a></li>
                <li><a href="../ArtikalKlasas">Klase artikla</a></li>
                <li><a href="../Valutas">Valute</a></li>
                <li class="divider"></li>
                <li><a href="../Users">Upravljanje korisnicima</a></li>
            </ul>
        </div>
    </div>
</div>